php_value display_errors On
php_value mbstring.http_input auto
php_value date.timezone Europe/Madrid
ErrorDocument 404 /404.php
RewriteEngine On 
RewriteCond %{HTTPS} off 
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]